.indexbox{ width:100%; text-align:center; background: url(../theme/images/main_bg.jpg) center 0 no-repeat;background-attachment: fixed;}
.indexbox2{ width:1020px; padding:10px; padding-top:1px; padding-bottom:0px; margin:0px auto; background-color:#e2e1df}
.footer{ background-color:#e2e1df}